<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    <!-- header -->
    <div style="padding-top: 1.5rem; padding-bottom: 1.25rem; color: #ffffff; text-align: center;">
        <img style="width: 30%;" src="https://res.cloudinary.com/dpuwtdu3p/image/upload/v1565480614/logo_attemy.png" alt="Hasf Energia"> 
        
    </div>

    <!-- main -->
    <div style="color: #000000">
        <div style="text-align: center">
            <h1>Olá, <%= mailData.name %></h1>
        </div>
        <div style="padding: 1rem;">
            <p>A COOERG informa que sua fatura de energia já está disponível em nossa plataforma!</p><br>
            <p>Valor de R$ <%= mailData.boleto_amount %></p><br>
            <p>O código de barras de seu boleto é: <b><%= mailData.boleto_barcode %></b></p><br>
            <p>Acesse o <a href=<%= mailData.boleto_url %> target="_blank" rel="noopener noreferrer">este link</a> e emita seu boleto!</p>
        </div>

        <br>
        <h5>Abraços,</h5>
        <h5>Equipe COOERG</h5>

    </div>

</body>
</html>