<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    <!-- header -->
    <div style="padding-top: 1.5rem; padding-bottom: 1.25rem; color: #ffffff; text-align: center;">
        <img style="width: 30%;" src="https://res.cloudinary.com/dpuwtdu3p/image/upload/v1574535162/logoCooerg_hq9x6z.png" alt="Cooerg"> 
        
    </div>

    <!-- main -->
    <div style="color: #000000">
        <div style="text-align: center">
            <h1>Olá, <%= mailData.name %></h1>
        </div>
        <div style="padding: 1rem;">
            <p>A COOERG informa que você fez um requerimento de uma nova senha de acesso à plataforma on-line</p><br>
            <p>A sua nova senha é:  <%= mailData.newPassword %></p><br>
            <p style="font-weight: bold;">Recomendamos fortemente que você altere a senha logo após acessar o sistema, por motivos de segurança! </p>
        </div>

        <br>
        <h5>Abraços,</h5>
        <h5>Equipe COOERG</h5>

    </div>

</body>
</html>